* {
    font-family: Roboto Slab, sans-serif;
    margin: 0;
    padding: 0;
}

.first-section {
    background-color: #1F2937;
}

.navbar {
    display: flex;
    flex-direction: row;

}

.navbar-left,
.navbar-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.p-link{
    font-weight: bolder;
    color: #ffffff;
    font-size: 24px;
}

.header-link {
    color: gray;
    margin: 10px;
    font-size: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: row;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bolder;
    margin-top: -120px;
    margin-left: 180px;
}

img {
    margin-top: 80px;
    margin-left: 16vh;
    margin-bottom: 0;
}

.p-link2 {
    margin-left: 290px;
    color: gray;
    font-size: 18px;
}

.Sign-up {
    height: 20px;
    width: 100px;
    margin-left: -60px;
    background-color: #3882F6;
    border:1px #3882F6;
    border-radius: 7px;
    color: #ffffff;
    margin-top: 5px;
}