* {
    font-family: Roboto Slob;
    margin: 0;
    top: 0;
}

.first-section {
    background-color: #1F2937;
}

.navbar {
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: bolder;
    color: #ffffff;
}